@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+Arabic&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #dde6ed;
}
html {
  background-color: #434546;
}
.navbar {
  margin: 0.5rem auto;
  width: 80%;
  background-color: #526d82;
  border: none;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
.logo {
  font-size: 2rem;
  font-family: "Lilita One", cursive;
  margin-left: 1rem;
}
.search {
  border: none;
  background-color: #7d93a5;
  padding: 0.4rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 10px;
}
.search:focus {
  outline: none;
}
.container {
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.movies,
.fav-details {
  background-color: #526d82;
  border-radius: 20px;
  min-height: 90vh;
  padding: 1.5rem;
  height: 120vh;
  overflow: scroll;
}
.movies {
  grid-column-start: 1;
  grid-column-end: 3;
}
.movie-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
}
.movie-container p {
  grid-column-start: 2;
}
.movie-show {
  height: 300px;
  background-color: #2f3f4b;
  list-style-type: none;
  cursor: pointer;
}
.movie-show img {
  width: 100%;
  height: 100%;
}
.details img {
  width: 100%;
}
.catalog {
  text-align: center;
  background-color: #2f3f4b;
  padding: 1rem;
}
.details p {
  margin: 0.5rem 0;
}
.addWatched {
  background-color: #2f3f4b;
  padding: 1rem;
  margin: 1.5rem 0;
}
.star {
  display: flex;
  flex-direction: row;
}
.add-favorite {
  width: 100%;
  background-color: #7d93a5;
  color: black;
  border: none;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.add-favorite:hover {
  background-color: #6f8393;
}
.info p {
  margin: 1rem 0;
}
.Loading {
  text-align: center;
  font-size: 1.5rem;
}
.showRating {
  padding-left: 1rem;
  margin: 0 !important;
  display: flex;
  align-items: center;
}
.favorite-title {
  background-color: #7d93a5;
  padding: 1rem;
  width: 100%;
}
.favorite-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.watched-movies img {
  width: 50%;
  cursor: pointer;
  margin-top: 1rem;
}
.watchedMovie {
  position: relative;
  display: block;
}
.watched-movie-data {
  background: rgba(82, 109, 130, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(9.5px);
  height: 50%;
  width: 50%;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
}
.watched-movie-data p {
  margin-bottom: 0.5rem;
}
